{% extends 'base.html.twig' %}

{% block title %}Course Enrollment{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/course_enroll.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="course-enroll-container">
        <h1 class="display-4 text-center pb-4">Enroll</h1>
        <div>
            <form id="user-enroll-form" method="post" action="{{ path('course_enroll', {'id': course.id}) }}">

                <div>

                    <label for="course">Course's Title <a href="{{ path('course_view', {'id': course.id})}}" target="_blank">(Course's homepage)</a></label>
                    <input type="text" name="course" id="course" class="form-control mt-3 mb-3" placeholder="Course" value="{{ course.title }}" readonly required>

                    <label for="coursePromotion">Course's Promotion (&percnt;)</label>
                    {% if course.coursePromotion is not empty and
                        course.coursePromotion.endDateValidity|date('Y-m-d H:i:s') >= "now"|date('Y-m-d H:i:s', 'Europe/Brussels') and
                        course.coursePromotion.startDateValidity|date('Y-m-d H:i:s') <= "now"|date('Y-m-d H:i:s', 'Europe/Brussels')
                    %}
                        <input type="text" name="coursePromotion" id="coursePromotion" class="form-control mt-3 mb-3"
                               placeholder="Course Promotion Code"
                               value="{{ course.coursePromotion.percentOnPrice }}" required readonly>
                    {% else %}
                        <input type="text" name="coursePromotion" id="coursePromotion" class="form-control mt-3 mb-3"
                               placeholder="Course Promotion Code"
                               value="0" required readonly>
                    {% endif %}

                    <label for="coursePrice">Course Price (&euro;)</label>
                    <input type="text" name="coursePrice" id="coursePrice" class="form-control mt-3 mb-3" placeholder="Course's Price" value="{{ course.price }}" readonly required>

                    {%
                        if course.coursePromotion is not empty and
                        course.coursePromotion.endDateValidity|date('Y-m-d H:i:s') >= "now"|date('Y-m-d H:i:s', 'Europe/Brussels') and
                        course.coursePromotion.startDateValidity|date('Y-m-d H:i:s') <= "now"|date('Y-m-d H:i:s', 'Europe/Brussels')
                    %}
                        {% set promoPercent = (1 - (course.coursePromotion.percentOnPrice / 100)) %}
                    {% else %}
                        {% set promoPercent = 1 %}
                    {% endif %}

                    <label for="coursePriceWithPromo">Course Price with Promotion Applied (&euro;)</label>
                    <input type="text" name="coursePriceWithPromo" id="coursePriceWithPromo" class="form-control mt-3 mb-3" placeholder="Course's Price with Promotion" value="{{ (course.price * promoPercent)|round(2, 'floor') }}" readonly required>

                    <label for="courseTaxRate">Course TaxRate (&percnt;)</label>
                    <input type="text" name="courseTaxRate" id="courseTaxRate" class="form-control mt-3 mb-3" placeholder="Course's TaxRate" value="{{ course.taxRate.rate }}" readonly required>

                    <label for="amountToPay">Amount to Pay, tax inc. (&euro;)</label>
                    <input type="text" name="amountToPay" id="amountToPay" class="form-control mt-3 mb-3"
                           placeholder="Amount to Pay"
                           value="{{ (promoPercent * (course.price * ((course.taxRate.rate/100) + 1)))|round(2, 'floor') }}" readonly required>

                    <input type="checkbox" id="tos" required>
                    <label for="tos">I Agree to the <a href="{{ path('information_tos') }}"
                                                       target="_blank">Term of Services</a></label>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-primary btn-xs col-12 mt-3 mb-3" type="submit">
                    Confirm my enrollment and pay the amount specified
                </button>

            </form>

        </div>
    </div>
{% endblock %}