{% extends 'base.html.twig' %}

{% block title %}Our Courses{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/course.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid" id="course-container">
        <h1 class="display-4 text-center pb-4">Our Courses</h1>
            {% set categoryName = 'All' %}
            {% if categoryId is defined %}
                {% for category in categories %}
                    {% if category.id == categoryId %}
                        {% set categoryName = category.name %}
                    {% endif %}
                {% endfor %}
                <h2 class="btn-lg badge-secondary p-4">Category {{ categoryName }}: {{ courseCount }} courses</h2>
            {% elseif keyword is defined %}
                <h2 class="btn-lg badge-secondary p-4">Search for "{{ keyword }}": {{ courseCount }} courses</h2>
            {% else %}
                <h2 class="btn-lg badge-secondary p-4">Category {{ categoryName }}: {{ courseCount }} courses</h2>
            {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert-success p-3 mb-4">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert-danger p-3 mb-4">{{ message }}</div>
        {% endfor %}

        <div>
            {% if courseCount > 0 %}
                <div id="courses-navigation">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                Filter By...
                            </h5>
                        </div>
                        <div class="card-body p-0 m-0 border-0">
                            <div class="accordion" id="accordionCategory">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapseCategory" aria-expanded="true"
                                                    aria-controls="collapseCategory">
                                                Category
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseCategory" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordionCategory">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="{{ path('course') }}">All</a>
                                            </li>
                                            {% for category in categories %}
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{{ path('course_category_page',
                                                        {'numPage': 1, 'categoryId': category.id}) }}">{{ category.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div id="courses-card-container">
                {% if keyword is defined and courseCount == 0 %}
                    <p>No result for the search <span class="text-secondary">{{ keyword }}</span></p>
                {% elseif courseCount == 0 %}
                    <p>No courses yet, come back later</p>
                {% else %}
                    {% for course in courses %}
                        <div class="card">
                            <h5 class="card-header text-center">{{ course.title }}</h5>

                            <div class="card-body">
                                <img src="{{ asset('assets/img/course/' ~ course.image) }}" alt="{{ course.title }}">
                                <h5 class="card-title">Description</h5>
                                <p class="card-text text-justify">{{ course.smallDescription }}</p>
                                <div id="review">
                                    {% set sumReviews = 0 %}
                                    {% set nbReviews = 0 %}
                                    {% for courseReview in course.courseReviews %}
                                        {% set sumReviews = sumReviews + courseReview.rating %}
                                        {% set nbReviews = nbReviews + 1 %}
                                    {% endfor %}
                                    {% if nbReviews > 0 %}
                                        {% set averageReviews = (sumReviews / nbReviews)|round(0, 'floor') %}
                                        <p class="card-text">Average rating : &nbsp;&nbsp;
                                        {% for i in 0..averageReviews-1 %}
                                            <img src="{{ asset('assets/img/course/reviews/star-full.png') }}" class="ratingImg">
                                        {% endfor %}
                                        {% if averageReviews < 5 %}
                                            {% for i in averageReviews+1..5 %}
                                                <img src="{{ asset('assets/img/course/reviews/star-empty.png') }}" class="ratingImg">
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        <p class="card-text">Average rating : no rating yet</p>
                                    {% endif %}
                                </div>
                                <h5 class="card-title">Infos</h5>
                                <p class="card-text">Duration : {{ course.duration }} hours</p>
                                <p class="card-text">Language : {{ course.language.isoName }}</p>
                                <p class="card-text">Categories :
                                {% for category in course.category %}
                                    <a href="{{ path('course_category', {'categoryId': category.id}) }}">{{ category.name }}</a>&nbsp;
                                {% endfor %}
                                </p>
                                <a href="{{ path('course_view', {'id': course.id}) }}" target="_blank" class="btn btn-primary">Course Page</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- START pagination if there are courses to show (if page exists for instance) -->
        {% if courses|length > 0 %}
            <div class="mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">

                        {% set nbPages = (courseCount / coursePerPage)|round(0, 'ceil') %}

                        <!-- START Enable previous if not on the first page -->
                        {% if numPageSelected > 1 and numPageSelected <= nbPages %}
                            <li class="page-item">
                            {% if categoryId is defined %}
                                <a class="page-link" href="{{ path('course_category_page',
                                    {'numPage': numPageSelected-1, 'categoryId': categoryId}) }}">Previous</a>
                            {% elseif keyword is defined %}
                                <a class="page-link" href="{{ path('course_search_page',
                                    {'numPage': numPageSelected-1}) ~ '?keyword="' ~ keyword ~ '"&anyWord="' ~ anyWord ~ '"' }}">Previous</a>
                            {% else %}
                                <a class="page-link" href="{{ path('course_page',
                                    {'numPage': numPageSelected-1}) }}">Previous</a>
                            {% endif %}
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        <!-- END Enable previous if not on the first page -->

                        <!-- START pagination page number display -->
                        {% for i in 1..nbPages %}
                            {% if i == numPageSelected %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% else %}
                                {% if categoryId is defined %}
                                    <li class="page-item"><a class="page-link" href="{{ path('course_category_page',
                                            {'numPage': i, 'categoryId': categoryId}) }}">{{ i }}</a></li>
                                {% elseif keyword is defined %}
                                   <li class="page-item"><a class="page-link" href="{{ path('course_search_page',
                                        {'numPage': i}) ~ '?keyword="' ~ keyword ~ '"&anyWord="' ~ anyWord ~ '"' }}">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ path('course_page',
                                            {'numPage': i}) }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <!-- END pagination page number display -->

                        <!-- START Enable next if not on the last page -->
                        {% if numPageSelected >= 1 and numPageSelected < nbPages %}
                            <li class="page-item">
                                {% if categoryId is defined %}
                                    <a class="page-link" href="{{ path('course_category_page',
                                        {'numPage': numPageSelected+1, 'categoryId': categoryId}) }}">Next</a>
                                {% elseif keyword is defined %}
                                    <a class="page-link" href="{{ path('course_search_page',
                                        {'numPage': numPageSelected+1}) ~ '?keyword="' ~ keyword ~ '"&anyWord="' ~ anyWord ~ '"' }}">Next</a>
                                {% else %}
                                    <a class="page-link" href="{{ path('course_page',
                                        {'numPage': numPageSelected+1}) }}">Next</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                        <!-- END Enable next if not on the first page -->
                    </ul>
                </nav>
            </div>
        {% else %}
            <a href="{{ path('course') }}" class="btn btn-primary p-4">Go to courses list</a>
        {% endif %}
        <!-- END pagination -->

    </div>
{% endblock %}