{% extends 'base.html.twig' %}

{% block title %}Course Details{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/course_view.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/external/quill/quill.snow.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="course-view-container">

        {% if course is not empty and (course.isPublished or is_granted('ROLE_ADMIN')) %}
            <h1 class="display-4 text-center pb-4">{{ course.title }}</h1>
            <div id="course-detail-header">
                <div>
                    <img src="{{ asset('assets/img/course/' ~ course.image) }}" alt="">
                </div>
                <div>
                    <p>Language: {{ course.language.isoName }}</p>
                    <p>Duration: {{ course.duration }} hours</p>
                    {% set price = course.price * (1 + (course.taxRate.rate / 100)) %}
                    {%
                        if course.coursePromotion is not empty and
                        course.coursePromotion.endDateValidity|date('Y-m-d H:i:s') >= "now"|date('Y-m-d H:i:s', 'Europe/Brussels') and
                        course.coursePromotion.startDateValidity|date('Y-m-d H:i:s') <= "now"|date('Y-m-d H:i:s', 'Europe/Brussels')
                    %}
                        {% set newPrice = course.price - (course.price * course.coursePromotion.percentOnPrice / 100) %}
                        {% set newPrice = newPrice * (1 + (course.taxRate.rate / 100)) %}
                        <p>
                            Price: <span class="text-muted">({{ course.taxRate.rate }}% tax inc.)</span> <s class="text-danger ml-2 mr-2">{{ price|round(2, 'floor') }} &euro;</s>
                            <span class="text-success mr-2">{{ newPrice|round(2, 'floor') }} &euro;</span>
                            <span class="badge-pill badge-success p-1">-{{ course.coursePromotion.percentOnPrice }}&percnt;</span>
                        </p>
                        <!--<p>Promo code: <span class="badge-secondary p-1">{{ course.coursePromotion.code }}</span></p>-->
                    {% else %}
                        <p>Price: {{ price|round(2, 'floor') }} &euro; ({{ course.taxRate.rate }}% tax inc.)</p>
                    {% endif %}
                    <p>Categories:
                        {% for category in course.category %}
                            <a href="{{ path('course_category', {'categoryId': category.id}) }}">{{ category.name }}</a>&nbsp;
                        {% endfor %}
                    </p>
                    {% set enrolled = false %}
                    {% if not is_granted('ROLE_MEMBER') or enrolledUserIds|length == 0 %}
                        <a href="{{ path('course_enroll', {'id': course.id}) }}" class="btn btn-primary">Enroll Now</a>
                    {% else %}
                        {% for enrolledUserId in enrolledUserIds %}
                            {% if enrolledUserId == app.user.id %}
                                {% set enrolled = true %}
                            {% endif %}
                        {% endfor %}
                        {% if enrolled %}
                            <p class="btn btn-primary disabled">Already Enrolled</p>
                        {% else %}
                            <a href="{{ path('course_enroll', {'id': course.id}) }}" class="btn btn-primary">Enroll Now</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div id="course-detail-body">
                <div class="mb-4 mt-5">
                    <p class="text-justify">{{ course.fullDescription }}<span id="end-pos"></span></p>
                </div>
            </div>

            <div id="course-reviews-comments">
                <ul class="nav nav-tabs mt-4">
                    {% if showReviews %}
                        <li class="nav-item">
                            <a class="nav-link active">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('course_view', {'id': course.id, 'showReviews': 'false'}) }}#end-pos">Comments</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('course_view', {'id': course.id}) }}#end-pos">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">Comments</a>
                        </li>
                    {% endif %}
                </ul>
                {% if showReviews %}
                    <div id="reviews">
                        {% for review in reviews %}
                            {% if review.isPublished %}
                                <div>
                                    <p class="badge-light border-bottom p-1">
                                        {{ review.user.firstname }} {{ review.user.lastname }} -
                                        <span>
                                            {% for i in 0..review.rating-1 %}
                                                <img src="{{ asset('assets/img/course/reviews/star-full.png') }}" class="ratingImg">
                                            {% endfor %}
                                            {% if review.rating < 5 %}
                                                {% for i in review.rating+1..5 %}
                                                    <img src="{{ asset('assets/img/course/reviews/star-empty.png') }}" class="ratingImg">
                                                {% endfor %}
                                            {% endif %}
                                        </span>
                                    </p>
                                    <div class="text-justify quill-format">{{ review.review | raw }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if is_granted('ROLE_MEMBER') %}
                        <div>
                            {% for message in app.flashes('success') %}
                                <div class="alert-success p-3 mb-4">{{ message }}</div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert-danger p-3 mb-4">{{ message }}</div>
                            {% endfor %}
                            <form action="{{ path('course_new_review', {'id': course.id}) }}" method="post" id="form-review">
                                <input type="hidden" name="username" value="{{ app.user.username }}">
                                <input class="form-control mb-2" type="number" min="1" max="5" name="rating"
                                       placeholder="Your rating" required>
                                <input name="review" type="hidden">
                                <div id="review"></div>
                                <button class="btn btn-primary mt-2 pl-5 pr-5" type="submit">Post a review</button>
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                    <div id="comments">
                        {% for comment in comments %}
                            <div>
                                <p class="badge-light border-bottom p-1">{{ comment.user.firstname }} {{ comment.user.lastname }} - {{ comment.createdAt|date('Y-m-d H:i:s') }}</p>
                                {% if not comment.isDeleted and comment.isPublished %}
                                    <div class="text-justify quill-format">{{ comment.message | raw}}</div>
                                {% elseif  comment.isDeleted %}
                                    <p class="text-justify text-muted">Comment has been deleted</p>
                                {% else %}
                                    <p class="text-justify text-muted">Comment has been unpublished</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        {% for message in app.flashes('success') %}
                            <div class="alert-success p-3 mb-4">{{ message }}</div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert-danger p-3 mb-4">{{ message }}</div>
                        {% endfor %}
                        {% if is_granted('ROLE_MEMBER') %}
                            <form action="{{ path('course_new_comment', {'id': course.id}) }}" method="post" id="form-message">
                                <input type="hidden" name="username" value="{{ app.user.username }}">
                                <input name="message" type="hidden">
                                <div id="message"></div>
                                <button class="btn btn-primary mt-2 pl-5 pr-5" type="submit">Post a comment</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <p class="badge-primary p-lg-4">The course selected does not exist</p>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/external/quill/quill.min.js') }}"></script>
    <script src="{{ asset('assets/js/course_view.js') }}"></script>
{% endblock %}
