{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="login-container">

        <div class="row">
            <div class="col-md-3 col-xl-4 col-sm-1"></div>
            <div class="col-md-6 col-xl-4 col-sm-10">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% for message in app.flashes('success') %}
                        <div class="alert-success p-3 mb-4">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert-danger p-3 mb-4">{{ message }}</div>
                    {% endfor %}

                    <h1 class="display-4 text-center pb-4">Please sign in</h1>
                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mt-3 mb-3" placeholder="Username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mt-3 mb-3" placeholder="Password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>

                    <button class="btn btn-block btn-primary mt-3 mb-3" type="submit">
                        Sign in
                    </button>

                </form>

                <p class="text-muted text-center p-0 m-0">OR</p>
                <small class="form-text text-center"><a href="{{ path('reset_password_request') }}">I forgot my username and/or password</a></small>
                <p class="text-muted text-center p-0 m-0">OR</p>
                <small class="form-text text-center"><a href="{{ path('registration') }}">I don't have an account yet</a></small>
            </div>
            <div class="col-md-3 col-xl-4 col-sm-1"></div>

        </div>



    </div>
{% endblock %}