<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Modified</title>
    <style>
        body {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        p {
            text-align: justify;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section>
        <p>
            Hello {{ user.firstName }},
            <br>
            <br>
            Your password has been modified.
            <br>
            If you did not do this, click on the following link to reset your password.
            <br>
            <a href="{{ url }}">{{ url }}</a>
            <br>
            <br>
            <br>
            The OpenOCX Team
    </section>
</body>
</html>