<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Request</title>
    <style>
        body {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        p {
            text-align: justify;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section>
        <p>
            Hello {{ user.firstName }},
            <br>
            <br>
            We heard that you lost your OpenOCX credentials. Sorry about that!
            <br>
            But don’t worry! You can use the following information to reset your password:
            <br>
            <br>
            Your username is <span class="bold">{{ user.getUsername }}</span>.
            Click on the following link to reset your password.
            <br>
            <a href="{{ url }}">{{ url }}</a>
            <br>
            <br>
            This link can only be used once and will expire within 15 minutes. To get a new password reset link, visit <a href="{{ 'http://localhost' ~ path('reset_password_request') }}">{{ 'http://localhost' ~ path('reset_password_request') }}</a>
            <br>
            <br>
            <br>
            The OpenOCX Team
    </section>
</body>
</html>