{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/reset-password.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="reset-password-container">

        <div class="row">
            <div class="col-md-3 col-xl-4 col-sm-1"></div>
            <div class="col-md-6 col-xl-4 col-sm-10">
                <h1 class="display-4 text-center pb-4">Reset Password</h1>

                {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
                {% endfor %}

                {{ form(form) }}
            </div>
            <div class="col-md-3 col-xl-4 col-sm-1"></div>
        </div>

    </div>
{% endblock %}