{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}
    <section id="home">
        <div id="main"></div>
        <div id="main-content">
            <div class="container">

                <div class="row">
                    <h1>OpenOCX</h1>
                </div>

                <div class="row">
                    <p id="slogan">Enjoy a new learning experience</p>
                </div>

                <form class="form-inline my-2 my-lg-0" id="search" method="post" action="{{ path('course_search')}}">
                    <div id="searchControls">
                        <input class="form-control mr-sm-2" type="search" placeholder="What do you want to learn?" aria-label="Search" name="keyword">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Find courses</button>
                    </div>
                    <div>
                        <label for="cbxSearch">Any word</label>
                        <div>
                            <input type="checkbox" id="cbxSearch" name="anyWord">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <section id="reviews">
        <div class="container">
            <h1 class="display-4 text-center pb-3">What our students say about us</h1>

            {% if courseReviews is not null and courseReviews|length > 0 %}
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for courseReview in courseReviews %}
                            <div class="carousel-item">
                                <div class="row">
                                    <p><a href="{{ path('course_view', {'id':courseReview.course.id}) }}" target="_blank">{{ courseReview.course.title }}</a>&nbsp;&nbsp;
                                        {% for i in 0..courseReview.rating-1 %}
                                            <img src="{{ asset('assets/img/home/reviews/star-full.png') }}" class="ratingImg">
                                        {% endfor %}
                                        {% if courseReview.rating < 5 %}
                                            {% for i in courseReview.rating+1..5 %}
                                                <img src="{{ asset('assets/img/home/reviews/star-empty.png') }}" class="ratingImg">
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="row">
                                    <blockquote>
                                        {{ courseReview.review|raw }}
                                    </blockquote>
                                </div>
                                <div class="row">
                                    <footer>
                                        <cite>{{ courseReview.user.firstname ~ ' ' ~ courseReview.user.lastname}}</cite>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="text-center badge-primary p-2">No reviews yet.</p>
            {% endif %}

        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}
