<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Address Confirmation</title>
    <style>
        body {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <section>
        <p>
            Hello {{ user.firstName }},
            <br>
            <br>
            Please confirm your email address by clicking on the following link.
            This link will expire within 1 week.<br>
            Confirmation of your email will provide access to password reset requests,
            newsletters and updates subscriptions, and so on.
            <br>
            <a href="{{ urlEmailConfirmation }}">{{ urlEmailConfirmation }}</a>
            <br>
            <br>
            If you have any question, do not hesitate to contact us.
            <br>
            <br>
            Cheers,
            <br>
            The OpenOCX Team
    </section>
</body>
</html>