{% extends 'base.html.twig' %}

{% block title %}Create an account{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/registration.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="registration-container">

        <h1 class="display-4 text-center pb-4">Create an account</h1>
        <div class="row">
            <div class="col-md-3 col-xl-4 col-sm-1"></div>
            <div class="col-md-6 col-xl-4 col-sm-10">
                {% for message in app.flashes('success') %}
                    <div class="alert-success p-3 mb-4">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert-danger p-3 mb-4">{{ message }}</div>
                {% endfor %}

                {{ form(form) }}
                <small id="emailHelp" class="form-text text-muted">
                    By clicking <span class="badge badge-primary">Create an account</span>, you agree to
                    the  <a href="">Privacy Policy</a> set out by this site, including our Cookie Use.
                </small>
            </div>
            <div class="col-md-3 col-xl-4 col-sm-1"></div>
        </div>
    </div>

{% endblock %}
