<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your email address has been confirmed</title>
    <style>
        body {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <section>
        <p>
            Hello {{ user.firstName }},
            <br>
            <br>
            Your email address has now been linked to your account. This means that if you need to
            reset your password, register for newsletters provided by us, or register for updates
            about a course in our catalog, you will be able to do so.
            <br>
            You can log in anytime through the following link:
            <br>
            <a href="{{ url }}">{{ url }}</a>
            <br>
            If you have any question, do not hesitate to contact us.
            <br>
            <br>
            We hope you will enjoy your staying with us!
            <br>
            The OpenOCX Team
    </section>
</body>
</html>