{% extends 'base.html.twig' %}

{% block title %}Term of Services{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/tos.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="tos-container">
        <header class="pages-header">
            <h1 class="display-4 text-center pb-4">General Terms of Use of OpenOCX Learning Solutions (openocx.org)</h1>
            <p></p>
        </header>
        <div>
            <h4><strong>Comment on these Terms of Use</strong></h4>

            <p class="text-justify">A gender-sensitive language is one of the basic communication principles at openocx. However, when it comes to official wording and legal terminology this is unfortunately not always possible. We therefore apologize for instances of failing to fully adhere to the standards of gender-sensitive writing in the following terms of use. Of course, we continue to do our best wherever we can to write and speak in a gender-sensitive manner.</p>

            <h4><strong>Preamble</strong></h4>

            <p class="text-justify">OpenOCX.org is an internet based platform run by OpenOCX Learning Solutions, for the use of so called Massive Open Online Courses (&quot;MOOC&quot;). The Platform aims primarily at students who would like to enrol in courses of universities other than their actual course of study. But also anybody else interested in further academic studies can join the Platform’s courses (&quot;User&quot;). OpenOCX therefore caters to the need of communication between teachers and students and provides to this end the technical Platform. iversity does not participate in the content related exchange between the Users. Due to the academic environment of the Platform, OpenOCX aims to keep a healthy balance between the free flow of information and intellectual property rights, keeping the best interests of its Users in mind. OpenOCX is aware that the Users of the Platform expect all personal data conveyed to OpenOCX to be handled with utmost care. Our basic principle: The User has complete control over the content posted by him or her (such as files, discussions, links, etc.). OpenOCX will use the data provided by its Users solely for the purpose of providing a reliable and useful service. Further information on handling personal data of Users can be found in the <a href="#" target="_blank" title="">privacy policy</a>.</p>

            <p class="text-justify">OpenOCX expects its Users to display the same level of care in dealing with the personal and intellectual property rights of other Users and rights holders. To ensure a productive and safe work environment, it is indispensable to adhere to some general principles. Please see point 9 for those principles.</p>

            <p class="text-justify">By registering for the Platform the User agrees to accept the validity of and ensure compliance with these terms of use. The User can read and print, download and save these Terms of Use at any time, even after the conclusion of the agreement on the Platform’s website by following the link <a href="#" target="_blank" title="">Terms of Service</a>.</p>

            <h4><strong>1. Scope</strong></h4>

            <p class="text-justify">The following terms of use apply to the use of the Platform and to all connected services offered by OpenOCX. The Terms of Use also apply to the use of OpenOCX via mobile devices.</p>

            <h4><strong>2. Registration and Conclusion of the Agreement</strong></h4>

            <p class="text-justify">2.1 In order to be able to use the Platform, the User is required to register. After registration a contract between the User and OpenOCX about the use of the Platform is concluded (&quot;user contract&quot;). The registration for, and use of, the Platform is free for all users.</p>

            <p class="text-justify">2.2 Only Users who are at least 18 years of age are allowed to register for the Platform.</p>

            <p class="text-justify">2.3 A User can register for the Platform by completing a registration form.</p>

            <p class="text-justify">2.3.1. If the User chooses the completion of the registration form, they need to make sure the data provided is complete and correct. It is prohibited to register for an account under a different name or otherwise inaccurate information. In particular, OpenOCX advises against the abuse of titles and occupational titles (§ 132a StGB). The User is also required to immediately notify OpenOCX of any changes of their data. Before filing the registration form the User has to confirm that they read these Terms of Use as well as the data privacy policy for the use of the Platform and agree to their validity. Please note that the contract about the use of the Platform is not yet concluded when sending the registration form by clicking on the respective button.</p>

            <p class="text-justify">2.4. The contracting party for the use of the Platform is</p>

            <address>
                OpenOCX Learning Solutions<br>
                Street and Number<br>
                Town and postcode<br>
                Country<br>
            </address>

            <p>Further contact details can be found in the <a href="#" target="_blank" title="">legal note</a> on the website of the Platform.</p>

            <p>2.5 Following the successful conclusion of the user contract the User can use the Platform in accordance with the Terms of Use. To do so, the User needs to login to the Platform via the login area of the website. The login data consists of the username the user provided during the registration and the password they chose. The User can change the password anytime in their account settings.</p>

            <p class="text-justify">2.6 OpenOCX may refuse a registration without stating reasons for the decision. The User is not entitled to conclude a user contract.</p>

            <h4><strong>3. User Account and Login Data</strong></h4>

            <p class="text-justify">3.1 OpenOCX provides to the User a user account on the Platform’s website after concluding the user. The User has access to their data via this user account after entering the login data.</p>

            <p class="text-justify">3.2 The login data (see point 2.5) as well as the user account are not transferable and may only be used by the registered User themselves. The User must not pass or allow the use of the login data to any third party. The login data has to be kept in safe custody and must not be disclosed to anyone.</p>

            <p class="text-justify">3.3 As soon as the User learns of or suspects an abuse of their login data they are obliged to notify OpenOCX thereof immediately. The User is liable for all consequences of a third party accessing and using the user account provided that they are responsible for the loss of login data. In particular, the User is liable if they enabled the unauthorized use of login data intentionally or carelessly. The User's liability ends only if they inform OpenOCX about the unauthorized use or loss of login data and change the password, if possible and necessary.</p>

            <p>OpenOCX is entitled to temporarily or permanently lock the User's account and / or withdraw access rights from the User with immediate effect or within a period of time at the discretion of OpenOCX and / or terminate the user contract  without giving notice  in case the User violates these terms of use, in particular if</p>

            <ul>
                <li>  false information were provided during registration,</li>
                <li>  unauthorized disclosure of login data and / or other forms of abuse of the Platform.</li>
            </ul>

            <p class="text-justify">In these cases, the User is not allowed to register again without OpenOCX’s prior written consent.</p>

            <h4><strong>4. Privacy Policy</strong></h4>

            <p class="text-justify">OpenOCX is aware that a highly sensitive treatment of all personal data submitted by the Users to OpenOCX is of great importance to the Users. For further information regarding the details of OpenOCX’s handling with personal data please see the <a href="#" target="_blank" title="">privacy policy</a>.</p>

            <h4><strong>5. The contents of the agreement - what does OpenOCX provide?</strong></h4>

            <p class="text-justify">5.1 On the Platform, MOOCs are offered for a variety of different areas. These courses are supported by interactive elements. In particular, OpenOCX helps to bring together the Users  and gives them an opportunity to participate in MOOCs. OpenOCX provides the technical applications but does not participate in any communication with regard to the contents.</p>

            <p class="text-justify">5.2 The participation in. or the completion of, a MOOC does not constitute any legal relationship of any kind between the User and the university or organization providing the course or the respective lecturer. In particular, the User does not apply for or enrol in any courses at the university or organization.</p>

            <p class="text-justify">5.3 OpenOCX reserves the right to cancel, change or delay courses at any time. The User is not entitled to participate in a specific course and / or at a specific time.</p>

            <p class="text-justify">5.4 For certain courses exams can be taken in accordance with the procedure provided online for the respective course. OpenOCX reserves the right to change, delay or cancel the examination procedure, in particular with regard to the emphasis of the results. For certain courses it is also possible to obtain a certificate. If this is possible and subject to which conditions, is at the discretion of OpenOCX as agreed with the respective course provider. The conditions for the award of a certificate may change anytime. OpenOCX will not be liable for any damages incurred by the User as a result of such change of conditions. Unless stated otherwise, certificates do not represent an academic certificate and do not prove academic achievements.</p>

            <p class="text-justify">5.5 The exact scope and the details of certain functions of the Platform can be found on the Platform’s website.</p>

            <p class="text-justify">5.6 Aside its own functions OpenOCX also offers third party functionalities in the form of apps, or provides links to third party content. In such cases, apps or third party content are clearly marked as such. OpenOCX is not responsible for these offers and cannot exert any influence on them. Any contracts resulting from third party apps are concluded only between the User and the third party, governed by the provisions of the respective provider.</p>

            <p class="text-justify">5.7 OpenOCX may provide the User with news on the Platform, e.g., new features, as well as on modifications or upgradings of OpenOCX’s services, via e-mail to the e-mail address provided during registration, provided that the User agreed to the receipt of such a newsletter. If the User does not want to receive news about the Platform they can unsubscribe from the service by sending an e-mail to  <a href="mailto:newsletter@openocx.org" target="_blank" title="">newsletter@openocx.org</a> at any time, or stop the receipt by changing their account settings. Furthermore, every e-mail contains a link to unsubscribe from the e-mail list.</p>

            <p class="text-justify">5.8 OpenOCX aims to develop the Platform gradually and in close collaboration with the Users. Therefore, OpenOCX reserves the right to expand, supplement and modify the services of the Platform or offer different services. However, this should not lead to any unreasonable restrictions of the User's current  organization on the Platform as the aim is to improve the system and not to reduce the functionality. In the event of extensions, supplements or modifications to the service, all User data will be preserved unless the User explicitly consents to the deletion of certain data or deletes them himself.</p>

            <h4><strong>6. Free of Charge Services, Term and Termination</strong></h4>

            <p class="text-justify">6.1 Registration and use of the Platform are free of charge for the User.</p>

            <p class="text-justify">6.2 The user contract is concluded for an indefinite period.</p>

            <p>[...]</p>

            <p>Stand November 2018 source : https://iversity.org/en/tos, NOT LINK WITH THE WEBSITE, JUST AN EXERCISE</p>
        </div>
    </div>
{% endblock %}
