{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if comments|length > 0 %}
                    <p>There are {{ comments|length }} comments</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">CommentID</th>
                                <th scope="col" class="text-center align-middle">UserID</th>
                                <th scope="col" class="text-center align-middle">CourseID</th>
                                <th scope="col" class="text-center align-middle">ParentID</th>
                                <th scope="col" class="text-center align-middle">Created At</th>
                                <th scope="col" class="text-center align-middle">Updated At</th>
                                <th scope="col" class="text-center align-middle">Message</th>
                                <th scope="col" class="text-center align-middle">Edit</th>
                                <th scope="col" class="text-center align-middle">(Un)Publish</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td class="text-center align-middle">{{ comment.id }}</td>
                                    <td class="text-center align-middle">{{ comment.user.id }}</td>
                                    <td class="text-center align-middle">{{ comment.course.id }}</td>
                                    <td class="text-center align-middle">
                                        {% if comment.parent %}
                                            <span>{{ comment.parent.id }}</span>
                                        {% else %}
                                            <span>n/a</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">{{ comment.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ comment.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-justify align-middle">{{ comment.message }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_comments_edit', {'id':comment.id}) }}">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_comments_publish', {'id':comment.id}) }}">
                                            {% if not comment.isPublished %}
                                                <i class="fa fa-eye"></i>
                                            {% else %}
                                                <i class="fa fa-eye-slash"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No comment found.
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}