{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if courses|length > 0 %}
                    <p>There are {{ courses|length }} courses</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center align-middle">id</th>
                            <!--<th scope="col" class="text-center align-middle">Title</th>-->
                            <th scope="col" class="text-center align-middle">Language</th>
                            <th scope="col" class="text-center align-middle">Categories</th>
                            <th scope="col" class="text-center align-middle">Duration</th>
                            <th scope="col" class="text-center align-middle">Price (no tax)</th>
                            <th scope="col" class="text-center align-middle">Tax Rate</th>
                            <th scope="col" class="text-center align-middle">Promotion</th>
                            <th scope="col" class="text-center align-middle">Created At</th>
                            <th scope="col" class="text-center align-middle">Updated At</th>
                            <th scope="col" class="text-center align-middle">Edit</th>
                            <th scope="col" class="text-center align-middle">Publish or Unpublish</th>
                            {% if inactiveCourses is defined %}
                                <th scope="col" class="text-center align-middle">Delete</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td class="text-center align-middle">
                                    <a href="{{ path('course_view', {'id': course.id}) }}"
                                       target="_blank">{{ course.id }}</a>
                                </td>

                                <td class="text-center align-middle">{{ course.language.isoCode }}</td>
                                <td class="text-center align-middle">
                                    {% for category in course.category %}
                                        {{ category.name }}&nbsp;
                                    {% endfor %}
                                </td>
                                <td class="text-center align-middle">{{ course.duration }} hours</td>
                                <td class="text-center align-middle">{{ course.price }}&euro;</td>
                                <td class="text-center align-middle">{{ course.taxRate.rate }}&percnt;</td>
                                <td class="text-center align-middle">
                                    {% if course.coursePromotion %}
                                        {{ course.coursePromotion.code }} ({{ course.coursePromotion.percentOnPrice }}&percnt;)
                                    {% else %}
                                        n/a
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">{{ course.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-center align-middle">{{ course.updatedAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-center align-middle">
                                    <a href="{{ path('admin_dashboard_courses_edit', {'id':course.id}) }}">
                                        <i class="fa fa-pen"></i>
                                    </a>
                                </td>
                                {% if course.isPublished %}

                                    {% if course.courseRegistrations|length == 0 %}
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_courses_publish', {'id': course.id}) }}" title="Unpublish">
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    </td>
                                    {% else %}
                                        <td class="text-center align-middle">
                                            <span title="Cannot be unpublished because registrations for that course exist"><i class="fa fa-eye-slash"></i></span>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_courses_publish', {'id': course.id}) }}" title="Publish">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                    <td class="text-center align-middle">
                                        {% if course.courseComments|length > 0 %}
                                            <span title="Course cannot be deleted because comments exist">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        {% elseif course.courseReviews|length > 0%}
                                            <span title="Course cannot be deleted because reviews exist">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        {% elseif course.courseRegistrations|length > 0%}
                                            <span title="Course cannot be deleted because active registrations exist">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        {% else %}
                                            <a href="{{ path('admin_dashboard_courses_delete', {'id': course.id}) }}" title="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No course found.
                    </p>
                {% endif %}
            </div>

        </div>
    {% endif %}
{% endblock %}