{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                <div class="pt-2 pb-2">
                    <label class="badge-secondary p-2" for="log-date">You are viewing the logs for the date </label>
                    <input class="p-2" id="log-date" type="date" value="{{ 'now'|date('Y-m-d') }}" max="{{ 'now'|date('Y-m-d') }}">
                </div>
                {% if logs|length > 0 %}
                    <table class="table table-striped" id="admin-log-table" data-order="[]">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">datetime</th>
                                <th scope="col" class="text-center align-middle">type</th>
                                <th scope="col" class="text-center align-middle">log</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                                <tr>
                                    <td class="text-center align-middle">{{ log['datetime'] }}</td>
                                    <td class="text-center align-middle">
                                        {{ log['type'] }}
                                    </td>
                                    <td class="text-justify align-middle">{{ log['log'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No log found.
                    </p>
                {% endif %}
            </div>

        </div>
    {% endif %}

{% endblock %}
