{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if promotions|length > 0 %}
                    <p>There are {{ promotions|length }} promotions</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">id</th>
                                <th scope="col" class="text-center align-middle">Code</th>
                                <th scope="col" class="text-center align-middle">Start Date</th>
                                <th scope="col" class="text-center align-middle">End Date</th>
                                <th scope="col" class="text-center align-middle">Percent</th>
                                <th scope="col" class="text-center align-middle">Edit</th>
                                <th scope="col" class="text-center align-middle">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for promotion in promotions %}
                                <tr>
                                    <td class="text-center align-middle">{{ promotion.id }}</td>
                                    <td class="text-center align-middle">{{ promotion.code }}</td>
                                    <td class="text-center align-middle">{{ promotion.startDateValidity|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ promotion.endDateValidity|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ promotion.percentOnPrice }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_promotions_edit', {'id': promotion.id}) }}">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </td>
                                    {% if promotion.courses|length > 0 %}
                                        <td class="text-center align-middle">
                                            <span title="cannot be deleted because in use">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </td>
                                    {% else %}
                                        <td class="text-center align-middle">
                                            <a href="{{ path('admin_dashboard_promotions_delete', {'id': promotion.id}) }}" title="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No promotion found.
                    </p>
                {% endif %}
            </div>
            <div>
                <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_promotions_new') }}" method="post">
                    <button class="btn btn-primary my-2 my-sm-0"
                            type="submit" name="username" value="{{ app.user.username }}">Add a Promotion</button>
                </form>
            </div>

        </div>
    {% endif %}
{% endblock %}