{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if registrations|length > 0 %}
                    <p>There are {{ registrations|length }} enrollments</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">UserID</th>
                                <th scope="col" class="text-center align-middle">CourseID</th>
                                <th scope="col" class="text-center align-middle">Created At</th>
                                <th scope="col" class="text-center align-middle">Updated At</th>
                                <th scope="col" class="text-center align-middle">Paid Amount</th>
                                <th scope="col" class="text-center align-middle">Tax Rate</th>
                                <th scope="col" class="text-center align-middle">Cancelled</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registration in registrations %}
                                <tr>
                                    <td class="text-center align-middle">{{ registration.user.id }}</td>
                                    <td class="text-center align-middle">{{ registration.course.id }}</td>
                                    <td class="text-center align-middle">{{ registration.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ registration.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ registration.paidAmount|round(2, 'floor') }}&euro;</td>
                                    <td class="text-center align-middle">{{ registration.taxRate }}&percnt;</td>
                                    <td class="text-center align-middle">
                                        {% if registration.isCancelled %}
                                            <span class="badge badge-warning">YES</span>
                                        {% else %}
                                            <span class="badge badge-info">NO</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No registration found.
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}