{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if reviews|length > 0 %}
                    <p>There are {{ reviews|length }} reviews</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">UserID</th>
                                <th scope="col" class="text-center align-middle">CourseID</th>
                                <th scope="col" class="text-center align-middle">Rating</th>
                                <th scope="col" class="text-center align-middle">Review</th>
                                <th scope="col" class="text-center align-middle">Created At</th>
                                <th scope="col" class="text-center align-middle">Updated At</th>
                                <th scope="col" class="text-center align-middle">Edit</th>
                                <th scope="col" class="text-center align-middle">(Un)Publish</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for review in reviews %}
                                <tr>
                                    <td class="text-center align-middle">{{ review.user.id }}</td>
                                    <td class="text-center align-middle">{{ review.course.id }}</td>
                                    <td class="text-center align-middle">{{ review.rating }}/5</td>
                                    <td class="text-justify align-middle">{{ review.review }}</td>
                                    <td class="text-center align-middle">{{ review.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ review.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_reviews_edit', {'uid':review.user.id, 'cid': review.course.id}) }}">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_reviews_publish', {'uid':review.user.id, 'cid': review.course.id}) }}">
                                            {% if not review.isPublished %}
                                                <i class="fa fa-eye"></i>
                                            {% else %}
                                                <i class="fa fa-eye-slash"></i>
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No review found.
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}