{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if roles|length > 0 %}
                    <p>There are {{ roles|length }} roles</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">id</th>
                                <th scope="col" class="text-center align-middle">Name</th>
                                <th scope="col" class="text-center align-middle">Description</th>
                                <th scope="col" class="text-center align-middle">Edit</th>
                                <th scope="col" class="text-center align-middle">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for role in roles %}
                                <tr>
                                    <td class="text-center align-middle">{{ role.id }}</td>
                                    <td class="text-center align-middle">{{ role.name }}</td>
                                    <td class="text-justify align-middle">{{ role.description }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_roles_edit', {'id': role.id}) }}">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </td>
                                    <td class="text-center align-middle">
                                        {% if role.users|length > 0 %}
                                        <span>
                                            <i class="fa fa-times" title="Cannot be deleted because in use"></i>
                                        </span>
                                        {% else %}
                                            <a href="{{ path('admin_dashboard_roles_delete', {'id': role.id}) }}">
                                                <i class="fa fa-times" title="Delete"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No role found.
                    </p>
                {% endif %}
            </div>
            <div>
                <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_roles_new') }}" method="post">
                    <button class="btn btn-primary my-2 my-sm-0"
                            type="submit" name="username" value="{{ app.user.username }}">Add a Role</button>
                </form>
            </div>

        </div>
    {% endif %}
{% endblock %}