{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if tokens|length > 0 %}
                    <p>There are {{ tokens|length }} tokens</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">id</th>
                                <th scope="col" class="text-center align-middle">Type</th>
                                <th scope="col" class="text-center align-middle">UUID</th>
                                <th scope="col" class="text-center align-middle">Username</th>
                                <th scope="col" class="text-center align-middle">IAT</th>
                                <th scope="col" class="text-center align-middle">EXP</th>
                                <th scope="col" class="text-center align-middle">Unused</th>
                                <th scope="col" class="text-center align-middle">Expired</th>
                                <th scope="col" class="text-center align-middle">Revoke</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for token in tokens %}
                                <tr>
                                    <td class="text-center align-middle">{{ token.id }}</td>
                                    <td class="text-center align-middle">{{ token.type }}</td>
                                    <td class="text-center align-middle">{{ token.uuid }}</td>
                                    <td class="text-center align-middle">{{ token.user.username }}</td>
                                    <td class="text-center align-middle">{{ token.iat }}</td>
                                    <td class="text-center align-middle">{{ token.exp }}</td>
                                    <td class="text-center align-middle">
                                        {% if token.isValid %}
                                            <span class="badge badge-info">UNUSED</span>
                                        {% else %}
                                            <span class="badge badge-warning">INVALID (USED)</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        {% if token.exp < date().timestamp %}
                                            <span class="badge badge-danger">EXPIRED</span>
                                        {% else %}
                                            <span class="badge badge-success">NOT EXPIRED</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_users_tokens_delete', {'id': token.id}) }}" title="Revoke">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users_tokens_delete_expired') }}" method="post">
                            <button class="btn btn-primary my-2 my-sm-0"
                                    type="submit" name="username" value="{{ app.user.username }}">Delete all expired tokens</button>
                        </form>
                    </div>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No token found.
                    </p>
                {% endif %}
            </div>

        </div>
    {% endif %}
{% endblock %}