{% block body %}
    {% if is_granted('ROLE_ADMIN') and is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>

            {% for message in app.flashes('success') %}
                <div class="alert-success p-3 mb-4">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert-danger p-3 mb-4">{{ message }}</div>
            {% endfor %}

            <div>
                {% if users|length > 0 %}
                    <p>There are {{ users|length }} members</p>
                    <table class="table table-striped my-tables">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center align-middle">id</th>
                                <th scope="col" class="text-center align-middle">Firstname</th>
                                <th scope="col" class="text-center align-middle">Lastname</th>
                                <th scope="col" class="text-center align-middle">Username</th>
                                <th scope="col" class="text-center align-middle">Email</th>
                                <th scope="col" class="text-center align-middle">Created At</th>
                                <th scope="col" class="text-center align-middle">Updated At</th>
                                <th scope="col" class="text-center align-middle">Last Login</th>
                                <th scope="col" class="text-center align-middle">Edit</th>
                                {% if deletedUsers is not defined %}
                                    <th scope="col" class="text-center align-middle">Enable or Disable</th>
                                    <th scope="col" class="text-center align-middle">Delete</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="text-left align-middle">{{ user.id }}</td>
                                    <td class="text-left align-middle">{{ user.firstname }}</td>
                                    <td class="text-left align-middle">{{ user.lastname }}</td>
                                    <td class="text-left align-middle">{{ user.username }}</td>
                                    <td class="text-left align-middle">{{ user.email }}</td>
                                    <td class="text-center align-middle">{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ user.updatedAt|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">{{ user.lastLogin|date('Y-m-d H:i:s') }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{{ path('admin_dashboard_users_edit', {'id': user.id}) }}">
                                            <i class="fa fa-pen"></i>
                                        </a>
                                    </td>
                                    {% if deletedUsers is not defined %}
                                        {% if user.isDisabled %}
                                            <td class="text-center align-middle">
                                                <a href="{{ path('admin_dashboard_users_enable', {'id': user.id}) }}">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td class="text-center align-middle">
                                                <a href="{{ path('admin_dashboard_users_enable', {'id': user.id}) }}">
                                                    <i class="fa fa-eye-slash"></i>
                                                </a>
                                            </td>
                                        {% endif %}

                                        {% if not user.isDeleted %}
                                            <td class="text-center align-middle">
                                                <a href="{{ path('admin_dashboard_users_delete', {'id': user.id}) }}">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td class="text-center align-middle">
                                                <span>This should not appear</span>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="btn btn-primary p-4 disabled">
                        No user found.
                    </p>
                {% endif %}
            </div>

        </div>
    {% endif %}
{% endblock %}