#course-container {
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#course-container h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#course-container #courses-navigation {
    width: 93%;
    margin: 0 auto;
}

#course-container #courses-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#course-container #courses-card-container .card {
    width: 100%;
    margin: 1rem;
    box-sizing: border-box;
}

#course-container #courses-card-container .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#course-container #courses-card-container .card .card-body img {
    width: 100%;
    height: auto;
    margin: 0.5rem auto;
    border-radius: 5px;
}

#course-container #courses-card-container .card .card-body #review {
    margin-bottom: 1rem;
}

#course-container #courses-card-container .card .card-body #review img {
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    padding-bottom: 2px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 576px) {

    #course-container #courses-card-container .card {
        width: 500px;
        margin: 1rem auto;
    }

    #course-container #courses-navigation {
        width: 500px;
    }
}

@media only screen and (min-width: 768px) {

    #course-container > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #course-container #courses-navigation {
        width: 25%;
        max-width: 200px;
        justify-self: left;
        margin-top: 1rem;
    }

    #course-container #courses-card-container .card {
        width: 44%;
        margin: 1rem;
    }
}

@media only screen and (min-width: 992px) {

    #course-container #courses-card-container {
        justify-content: left;
    }

    #course-container #courses-card-container .card {
        width: 29%;
    }
}