#course-view-container {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-view-container h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#course-view-container img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

#course-view-container #course-detail-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#course-view-container #course-detail-header div:nth-child(2) {
    padding: 1rem;
}

#message,
#review {
    height: 150px;
}

#form-message,
#form-review {
    margin-top: 1rem;
}

.invalid-empty {
    /*border: 1px solid red;*/
    padding: .5rem 0;
    color: red;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 992px) {
    #course-view-container img {
        max-width: 500px;
        height: auto;
        border-radius: 10px;
    }

    #course-view-container #course-detail-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #course-view-container #course-detail-header div:nth-child(2) {
        width: 40%;
        justify-self: flex-start;
        border-left: 1px solid #f2f2f2;
        border-radius: 10px;
        padding: 1rem;
    }

    #course-reviews-comments {
        align-self: flex-start;
        width: 50%;
    }
}
