#course-enroll-container {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-enroll-container h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#course-enroll-container div {
    width: 100%;
}

#course-enroll-container form {
    width: 80%;
    margin: 0 auto;
}
