#dashboard-container {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
}

#dashboard-container h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#dashboard-container #user-menu-info,
#dashboard-container #admin-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-container #user-menu-info #dashboard-nav,
#dashboard-container #admin-menu #dashboard-admin-nav {
    min-width: 200px;
    max-width: 400px;
    width: 20%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#dashboard-container #user-menu-info table,
#dashboard-container #admin-menu table {
    width: 96vw;
    margin: 0 auto;
    min-width: 500px;
}

#dashboard-container #user-menu-info #dashboard-nav .card-body form button,
#dashboard-container #admin-menu #dashboard-admin-nav .card-body form button {
    margin: 0.2rem 0 !important;
}

#dashboard-container #user-menu-info #dashboard-user-infos,
#dashboard-container #admin-menu #dashboard-admin-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#dashboard-container #user-menu-info #dashboard-user-infos .infos,
#dashboard-container #admin-menu #dashboard-admin-infos .infos {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

#dashboard-container #user-menu-info #dashboard-user-infos form,
#dashboard-container #admin-menu #dashboard-admin-infos form {
    width: 80%;
    min-width: 400px;
}

#dashboard-container #user-menu-info #dashboard-user-infos img,
#dashboard-container #admin-menu #dashboard-admin-infos img {
    max-width: 128px;
    max-height: 100%;
    height: auto;
    margin: 1rem;
    margin-top: 0;
    border: 1px solid #f2d2f2;
    border-radius: 50%;
}

#dashboard-container #user-update-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#dashboard-container #user-update-form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
}

#dashboard-container #user-update-form > div > div {
    width: 100%;
    margin: 0 10px;
}

#dashboard-container #user-update-form > div > div input {
    min-width: 200px;
    width: 100%;
}

#dashboard-container #user-update-form button{
    width: 200px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
    #dashboard-container #user-menu-info #dashboard-user-infos,
    #dashboard-container #admin-menu #dashboard-admin-infos {
        flex-direction: row;
    }

    #dashboard-container #user-menu-info #dashboard-user-infos img,
    #dashboard-container #admin-menu #dashboard-admin-infos img {
        max-width: 256px;
    }

    #dashboard-container #user-update-form > div {
        min-width: 650px;
        flex-direction: row;
        justify-content: stretch;
        margin: 0 auto;
    }

    #dashboard-container #user-update-form > div #form-left,
    #dashboard-container #user-update-form > div #form-right {
        width: 100%;
    }

    #dashboard-container #user-update-form > div > div input {
        height: 50px;
    }

    #dashboard-container #user-update-form button{
        height: 50px;
    }
}

@media only screen and (min-width: 992px) {

    #dashboard-container #user-update-form > div {
        min-width: 900px;
        margin: 0 auto;
    }
}


