/* HOME MAIN */
#home #main {
    background-color: #f1f1f1;
    background-image: url('../img/home/main.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    opacity: 0.3;
}

#home #main-content {
    position: absolute;
    width: 80%;
    height: calc(100vh - 100px); /* avoid openocx to be hidden behind nav bar when scrolling when small vh*/
    margin: 0 auto;
    top: 100px; /* avoid openocx to be hidden behind nav bar when scrolling when small vh*/
    left: 10%; /* width 80% so it is automatically centered */
    /*padding-top: 100px;/* avoid openocx to be hidden behind nav bar when scrolling when small vh*/
    padding-bottom: 30px;
}

#home #main-content .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 10% 0;
}

#home #main-content h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 7rem;
}

#home #main-content p {
    padding: .4rem .2rem;
    text-align: center;
}

#home #main-content #slogan {
    /*font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;*/
    font-size: 2.5rem;
}

#home #search {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
}

#home #search div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#home #search div:first-child input {
    width: 80%;
    font-size: 1.4rem;
    padding: 1.6rem 1rem;
    margin-bottom: .5rem;
}

#home #search div:first-child button {
    margin: 0 .5rem .5rem .5rem !important;
    font-size: 1.5rem;
}

#home #search div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: flex-end;*/
    justify-self: right;
}

#home #search div:nth-child(2) label {
    width: 110px;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    padding-left: 0;
    font-variant: small-caps;
    letter-spacing: .2rem;
    font-weight: bolder;
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#home #search div:nth-child(2) div {
    width: calc(100% - 110px);
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    padding-left: 0;
    justify-self: left;
}

/* END HOME MAIN */

/* HOME REVIEWS */
#reviews {
    width: 100%;
    background-color: #f1f1f1;
    color: #424242;
    text-align: justify;
    padding: 2rem;
    font-size: 1.1rem;
}

#reviews h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 4rem;
}

#reviews {
    width: 100%;
    padding-bottom: 3rem;
}

#reviews .carousel-item {
    min-height: 200px;
}

#reviews .container > div {
    width: 90%;
    box-shadow: 1px 1px 5px 3px #929292;
    border-radius: 9px;
    padding: 1rem;
    margin: 0 auto;
}

#reviews .container > div .row {
    width: 100%;
    margin: 0 auto
}

#reviews .container .ratingImg {
    width: 16px;
    height: 16px;
    margin: 8px 0;
}

#reviews blockquote {
    text-align: justify;
    color: #000000;
}

#reviews footer {
    color: #000000;
}


#reviews blockquote::before {
    content: url('../img/home/reviews/quote-left-16px.png');
}

#reviews blockquote::after {
    content: url('../img/home/reviews/quote-right-16px.png');
}
/* HOME END REVIEWS */

/* MEDIA QUERIES */
@media only screen and (min-width: 576px) {
    /* HOME MAIN */

    /* END HOME MAIN */
}

@media only screen and (min-width: 768px) {
    /* HOME MAIN */

    /* END HOME MAIN */
}
