/* NAVIGATION */
#navigation {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 200;
}
/* END NAVIGATION */

/* FOOTER */
body > footer {
    padding: 2rem 0;
    background-color: #dfdfdf;
}

body > footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > footer .container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > footer .container div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

body > footer .container div p {
    padding: 0 .5rem;
}

body > footer .container .label {
    font-size: 1.5rem;
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
/* END FOOTER */

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    body > footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    body > footer .container div {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body > footer .container div:not(:last-child) {
        border-right: 1px solid #c2c2c2;
    }

    body > footer .container div div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
