#registration-container {
    padding-top: 70px;
    padding-bottom: 50px;
}

#registration-container h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

