#reset-password-container {
    padding-top: 70px;
    padding-bottom: 50px;
}

#reset-password-container h1 {
    font-family: 'Cabin Sketch', cursive, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#reset_password_request .form-group:nth-child(2) div {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
