<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}OpenOCX{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/dataTables.bootstrap4.min.css') }}">
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <section id="navigation">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('home') }}">OpenOCX</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('course') }}">Courses Catalog <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    {% if not app.user %}
                        <form class="form-inline my-2 my-lg-0 mr-3" action="{{ path('login') }}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
                        </form>
                        <form class="form-inline my-2 my-lg-0" action="{{ path('registration') }}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
                        </form>
                    {% elseif is_granted('ROLE_MEMBER')%}
                        <form class="form-inline my-2 my-lg-0 mr-3" action="{{ path('user_dashboard') }}">
                            <button class="btn btn-success my-2 my-sm-0" type="submit">{{ app.user.firstname }}'s Dashboard</button>
                        </form>
                        <form class="form-inline my-2 my-lg-0" action="{{ path('logout') }}">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">Logout</button>
                        </form>
                    {% endif %}
                </div>
            </nav>
        </section>
        {% block body %}{% endblock %}
        <section id="footer">

        </section>
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/font-awesome.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('assets/js/datatable.js') }}"></script>
        <script src="{{ asset('assets/js/admin-logs.js') }}"></script>
        {% block javascripts %}{% endblock %}
        {% block footer %}
        <footer>
            <div class="container">
                <div>
                    <p class="label">OpenOCX</p>
                    <div>
                        <p><a href="#">About</a></p>
                        <p><a href="#">Careers</a></p>
                        <p><a href="#">News</a></p>
                    </div>
                </div>
                <div>
                    <p class="label">Legal</p>
                    <div>
                        <p><a href="{{ path('information_tos') }}" target="_blank">ToS &amp; Honor Code</a></p>
                        <p><a href="#">Privacy Policy</a></p>
                        <p><a href="#">Sitemap</a></p>
                    </div>
                </div>
                <div>
                    <p class="label">Connect</p>
                    <div>
                        <p><a href="#">Blog</a></p>
                        <p><a href="#">Contact Us</a></p>
                        <p><a href="#">Help Center</a></p>
                        <p><a href="#">Donate</a></p>
                    </div>
                </div>
                <div>
                    <p class="label">Social Networks</p>
                    <div>
                        <p><a href="#" class="text-secondary"><i class="fab fa-facebook fa-3x"></i></a></p>
                        <p><a href="#" class="text-secondary"><i class="fab fa-twitter-square fa-3x"></i></a></p>
                        <p><a href="#" class="text-secondary"><i class="fab fa-discord fa-3x"></i></a></p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>

