{% block body %}

    <div>

        {% for message in app.flashes('success') %}
            <div class="alert-success p-3 mb-4">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert-danger p-3 mb-4">{{ message }}</div>
        {% endfor %}

        <div>
            {% if comments|length > 0 %}
                <table class="table table-striped my-tables">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center align-middle">Course's Title</th>
                            <th scope="col" class="text-center align-middle">Created At</th>
                            <th scope="col" class="text-center align-middle">Updated At</th>
                            <th scope="col" class="text-center align-middle">Message</th>
                            <th scope="col" class="text-center align-middle">Reply</th>
                            <th scope="col" class="text-center align-middle">Edit</th>
                            <th scope="col" class="text-center align-middle">(un)publish</th>
                            <th scope="col" class="text-center align-middle">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                            <tr>

                                <td class="text-left align-middle">
                                    <a href="{{ path('course_view', {'id': comment.course.id}) }}" target="_blank">{{ comment.course.title }}</a>
                                </td>
                                <td class="text-center align-middle">{{ comment.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-center align-middle">{{ comment.updatedAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-left align-middle">{{ comment.message }}</td>
                                <td class="text-center align-middle">
                                    {% if comment.parent %} yes {% else %} - {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    <a href="{{ path('user_dashboard_comments_edit', {id: comment.id}) }}">
                                        <i class="fa fa-pen"></i>
                                    </a>
                                </td>
                                <td class="text-center align-middle">
                                    {% if comment.isPublished %}
                                        <a href="{{ path('user_dashboard_comments_publish', {id: comment.id}) }}">
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    {% elseif not comment.isDeleted %}
                                        <a href="{{ path('user_dashboard_comments_publish', {id: comment.id}) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    {% if not comment.isDeleted %}
                                        <a href="{{ path('user_dashboard_comments_delete', {id: comment.id}) }}">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="btn-lg badge-secondary p-4">No comment found</p>
            {% endif %}
        </div>

    </div>
{% endblock %}