{% block body %}

    <div>

        {% for message in app.flashes('success') %}
            <div class="alert-success p-3 mb-4">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert-danger p-3 mb-4">{{ message }}</div>
        {% endfor %}

        <div>
            {% if courses|length > 0 %}
                <a href="{{ path('course') }}" class="btn btn-outline-success p-2 mb-2" target="_blank">
                    Check out our catalog and enroll in other courses
                </a>
                <table class="table table-striped my-tables">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center align-middle">Title</th>
                            <th scope="col" class="text-center align-middle">Language</th>
                            <th scope="col" class="text-center align-middle">Categories</th>
                            <th scope="col" class="text-center align-middle">Duration</th>
                            <th scope="col" class="text-center align-middle">Paid Amount</th>
                            <th scope="col" class="text-center align-middle">Tax Rate</th>
                            <th scope="col" class="text-center align-middle">Registration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td class="text-left align-middle">
                                    <a href="{{ path('course_view', {'id': course.course.id}) }}" target="_blank">{{ course.course.title }}</a>
                                </td>
                                <td class="text-center align-middle">{{ course.course.language.isoName }}</td>
                                <td class="text-center align-middle">
                                    {% for category in course.course.category %}
                                        <a href="{{ path('course_category', {'categoryId': category.id}) }}" target="_blank">{{ category.name }}</a>&nbsp;
                                    {% endfor %}
                                </td>
                                <td class="text-center align-middle">{{ course.course.duration }} hours</td>
                                <td class="text-center align-middle">{{ course.paidAmount|round(2, 'floor') }} &euro;</td>
                                <td class="text-center align-middle">{{ course.taxRate }} &percnt;</td>
                                <td class="text-center align-middle">{{ course.createdAt|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if courses|length > 6 %}
                    <a href="{{ path('course') }}" class="btn btn-outline-success p-2 mt-2 mb-2" target="_blank">
                        Check out our catalog and enroll in other courses
                    </a>
                {% endif %}
            {% else %}
                <p class="btn-lg badge-secondary text-center p-4">No enrollment found</p>
                <p><a href="{{ path('course') }}" class="btn-link">
                    Check out our courses and enroll in one or more
                </a></p>
            {% endif %}
        </div>

    </div>
{% endblock %}