{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid" id="dashboard-container">

        <h1 class="display-4 text-center pb-4">{{ app.user.firstname }}'s Dashboard</h1>

        <!-- START ROLE_MEMBER NAVIGATION -->
        {% if app.user and is_granted('ROLE_MEMBER') and not is_granted('ROLE_ADMIN') %}

            <div id="user-menu-info">
                <div id="dashboard-nav">
                    <div class="accordion" id="accordion-menu">

                        <div class="card">
                            <div class="card-header" id="user-menu">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseUserMenu" aria-expanded="true"
                                            aria-controls="collapseUserMenu">
                                        Menu
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseUserMenu" class="collapse show" aria-labelledby="user-menu"
                                 data-parent="#accordion-menu">
                                <div class="card-body p-2">
                                    <form class="form-inline my-2 my-lg-0" action="{{ path('user_dashboard_settings') }}">
                                    {% if settings is defined %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                type="submit">My Settings</button>
                                    {% else %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                type="submit">My Settings</button>
                                    {% endif %}
                                    </form>
                                    <form class="form-inline my-2 my-lg-0" action="{{ path('user_dashboard_courses') }}">
                                    {% if courses is defined %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                type="submit">My Courses</button>
                                    {% else %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                type="submit">My Courses</button>
                                    {% endif %}
                                    </form>
                                    <form class="form-inline my-2 my-lg-0" action="{{ path('user_dashboard_comments') }}">
                                    {% if comments is defined %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                type="submit">My Comments</button>
                                    {% else %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                type="submit">My Comments</button>
                                    {% endif %}
                                    </form>
                                    <form class="form-inline my-2 my-lg-0" action="{{ path('user_dashboard_reviews') }}">
                                    {% if reviews is defined %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                type="submit">My Reviews</button>
                                    {% else %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                type="submit">My Reviews</button>
                                    {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dashboard-user-infos">

                    {% if settings is defined %}
                        {{ include('user/edit-profile.html.twig') }}
                    {% elseif courses is defined %}
                        {{ include('user/courses-list.html.twig') }}
                    {% elseif comments is defined %}
                        {{ include('user/comments-list.html.twig') }}
                    {% elseif comment_edit is defined %}
                        {{ form(form) }}
                    {% elseif reviews is defined %}
                        {{ include('user/reviews-list.html.twig') }}
                    {% elseif review_edit is defined %}
                        {{ form(form) }}
                    {% else %}
                        <img src="{{ asset('assets/img/user/avatar/') ~ app.user.image }}" alt="avatar">
                        <div class="infos">
                            <p>Firstname: {{ app.user.firstname }}</p>
                            <p>Lastname: {{ app.user.lastname }}</p>
                            <p>Email: {{ app.user.email }}</p>
                            {% if app.user.lastSuccessfulLogin is null %}
                                <p>Last successfull login: n/a (first time)</p>
                            {% else %}
                                <p>Last successfull login: {{ app.user.lastSuccessfulLogin|date('Y-m-d H:i:s') }}</p>
                            {% endif %}

                            {% if app.user.lastFailedLogin is null %}
                                <p>Last failed login: n/a</p>
                            {% else %}
                                <p>Last failed login: {{ app.user.lastFailedLogin|date('Y-m-d H:i:s') }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <!-- END ROLE_MEMBER NAVIGATION -->

        <!-- START ROLE_ADMIN NAVIGATION -->
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <div id="admin-menu">
                <div id="dashboard-admin-nav">
                    <div class="accordion" id="accordion-admin-menu">

                        <div class="card">
                            <div class="card-header" id="admin-menu">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseAdminMenu" aria-expanded="true"
                                            aria-controls="collapseAdminMenu">
                                        Administration Menu
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseAdminMenu" class="collapse show" aria-labelledby="admin-menu"
                                 data-parent="#accordion-admin-menu">
                                <div class="card-body p-2">
                                    <form class="form-inline my-2 my-lg-0" action="{{ path('user_dashboard_settings') }}">
                                    {% if settings is defined %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                type="submit" name="username" value="{{ app.user.username }}">My Settings</button>
                                    {% else %}
                                        <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                type="submit" name="username" value="{{ app.user.username }}">My Settings</button>
                                    {% endif %}
                                    </form>

                                    <!-- START ADMIN USERS NAVIGATION -->
                                    <div id="dashboard-admin-users-nav">
                                        <div class="accordion" id="accordion-admin-users-menu">

                                            <div class="card">
                                                <div class="card-header" id="admin-users-menu">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link p-0 m-0" type="button" data-toggle="collapse"
                                                                data-target="#collapseAdminUsersMenu" aria-expanded="true"
                                                                aria-controls="collapseAdminUsersMenu">
                                                            Users
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseAdminUsersMenu"
                                                     {% if users is defined or deletedUsers is defined or disabledUsers is defined or
                                                         MODERATOR is defined or COURSE_MANAGER is defined or ADMIN is defined or
                                                         roles is defined or tokens is defined %}
                                                         class="collapse show"
                                                     {% else %}
                                                         class="collapse"
                                                     {% endif %}
                                                     aria-labelledby="admin-users-menu"
                                                     data-parent="#accordion-admin-users-menu">
                                                    <div class="card-body p-2">

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users') }}" method="post">
                                                            {% if users is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Active Users</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Active Users</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users') }}" method="post">
                                                            {% if disabledUsers is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit" name="isDisabled" value="1">Disabled Users</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit" name="isDisabled" value="1">Disabled Users</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users') }}" method="post">
                                                            {% if deletedUsers is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit" name="isDeleted" value="1">Deleted Users</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit" name="isDeleted" value="1">Deleted Users</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users') }}" method="post">
                                                            {% if MODERATOR is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit" name="role" value="MODERATOR">Moderators</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit" name="role" value="MODERATOR">Moderators</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users') }}" method="post">
                                                            {% if COURSE_MANAGER is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit" name="role" value="COURSE_MANAGER">Course Managers</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit" name="role" value="COURSE_MANAGER">Course Managers</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users') }}" method="post">
                                                            {% if ADMIN is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit" name="role" value="ADMIN">Admins</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit" name="role" value="ADMIN">Admins</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_roles') }}" method="post">
                                                            {% if roles is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Roles</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Roles</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_users_tokens') }}" method="post">
                                                            {% if tokens is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Tokens</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Tokens</button>
                                                            {% endif %}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END ADMIN USERS NAVIGATION -->

                                    <!-- START ADMIN COURSES NAVIGATION -->
                                    <div id="dashboard-admin-courses-nav">
                                        <div class="accordion" id="accordion-admin-courses-menu">

                                            <div class="card">
                                                <div class="card-header" id="admin-courses-menu">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link p-0 m-0" type="button" data-toggle="collapse"
                                                                data-target="#collapseAdminCoursesMenu" aria-expanded="true"
                                                                aria-controls="collapseAdminCoursesMenu">
                                                            Courses
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseAdminCoursesMenu"
                                                    {% if courses is defined or inactiveCourses is defined or categories is defined
                                                        or promotions is defined or registrations is defined or comments is defined
                                                        or reviews is defined
                                                    %}
                                                        class="collapse show"
                                                    {% else %}
                                                        class="collapse"
                                                    {% endif %}
                                                     aria-labelledby="admin-courses-menu" data-parent="#accordion-admin-courses-menu">
                                                    <div class="card-body p-2">

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_courses') }}" method="post">
                                                            {% if courses is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Active Courses</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Active Courses</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_courses') }}" method="post">
                                                            {% if inactiveCourses is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit" name="isPublished" value="no">Inactive Courses</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit" name="isPublished" value="no">Inactive Courses</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_courses_new') }}" method="post">
                                                            {% if newCourses is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Create a Course</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Create a Course</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_categories') }}" method="post">
                                                            {% if categories is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Categories</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Categories</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_promotions') }}" method="post">
                                                            {% if promotions is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Promotions</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Promotions</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_registrations') }}" method="post">
                                                            {% if registrations is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Enrollments</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Enrollments</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_comments') }}" method="post">
                                                            {% if comments is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Comments</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Comments</button>
                                                            {% endif %}
                                                        </form>

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_reviews') }}" method="post">
                                                            {% if reviews is defined %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Reviews</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Reviews</button>
                                                            {% endif %}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END ADMIN COURSES NAVIGATION -->

                                    <!-- START ADMIN LOGS NAVIGATION -->
                                    <div id="dashboard-admin-logs-nav">
                                        <div class="accordion" id="accordion-admin-logs-menu">

                                            <div class="card">
                                                <div class="card-header" id="admin-logs-menu">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link p-0 m-0" type="button" data-toggle="collapse"
                                                                data-target="#collapseAdminLogsMenu" aria-expanded="true"
                                                                aria-controls="collapseAdminLogsMenu">
                                                            Logs
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseAdminLogsMenu"
                                                        {% if logs is defined %}
                                                            class="collapse show"
                                                        {% else %}
                                                            class="collapse"
                                                        {% endif %}
                                                     aria-labelledby="admin-logs-menu" data-parent="#accordion-admin-logs-menu">
                                                    <div class="card-body p-2">

                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_logs', {type:'applog'}) }}" method="post">
                                                            {% if appLog is defined and appLog%}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Application Logs</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Application Logs</button>
                                                            {% endif %}
                                                        </form>
                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_logs', {type:'userslog'}) }}" method="post">
                                                            {% if usersLog is defined and usersLog%}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Users Logs</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Users Logs</button>
                                                            {% endif %}
                                                        </form>
                                                        <form class="form-inline my-2 my-lg-0" action="{{ path('admin_dashboard_logs', {type:'adminlog'}) }}" method="post">
                                                            {% if adminLog is defined and adminLog%}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left active"
                                                                        type="submit">Admin Logs</button>
                                                            {% else %}
                                                                <button class="btn btn-block btn-outline-dark my-2 my-sm-0 text-left"
                                                                        type="submit">Admin Logs</button>
                                                            {% endif %}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END ADMIN LOGS NAVIGATION -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dashboard-admin-infos">


                    {% if settings is defined %}
                        {{ include('user/edit-profile.html.twig') }}

                    {% elseif users is defined %}
                        {{ include('admin/users.html.twig') }}
                    {% elseif deletedUsers is defined %}
                        {% set users = deletedUsers %}
                        {{ include('admin/users.html.twig') }}
                    {% elseif disabledUsers is defined %}
                        {% set users = disabledUsers %}
                        {{ include('admin/users.html.twig') }}
                    {% elseif MODERATOR is defined %}
                        {% set users = MODERATOR %}
                        {{ include('admin/users.html.twig') }}
                    {% elseif COURSE_MANAGER is defined %}
                        {% set users = COURSE_MANAGER %}
                        {{ include('admin/users.html.twig') }}
                    {% elseif ADMIN is defined %}
                        {% set users = ADMIN %}
                        {{ include('admin/users.html.twig') }}
                    {% elseif user_edit is defined %}
                        {{ form(form) }}

                    {% elseif roles is defined %}
                        {{ include('admin/roles.html.twig') }}
                    {% elseif role_edit is defined %}
                        {{ form(form) }}

                    {% elseif tokens is defined %}
                        {{ include('admin/tokens.html.twig') }}

                    {% elseif logs is defined %}
                        {{ include('admin/logs.html.twig') }}

                    {% elseif courses is defined %}
                        {{ include('admin/courses.html.twig') }}
                    {% elseif course_edit is defined %}
                        {{ form(form) }}
                    {% elseif inactiveCourses is defined %}
                        {% set courses = inactiveCourses %}
                        {{ include('admin/courses.html.twig') }}

                    {% elseif categories is defined %}
                        {{ include('admin/categories.html.twig') }}
                    {% elseif category_edit is defined %}
                        {{ form(form) }}

                    {% elseif promotions is defined %}
                        {{ include('admin/promotions.html.twig') }}
                    {% elseif promotion_edit is defined %}
                        {{ form(form) }}

                    {% elseif registrations is defined %}
                        {{ include('admin/registrations.html.twig') }}

                    {% elseif comments is defined %}
                        {{ include('admin/comments.html.twig') }}
                    {% elseif comment_edit is defined %}
                        {{ form(form) }}

                    {% elseif reviews is defined %}
                        {{ include('admin/reviews.html.twig') }}
                    {% elseif review_edit is defined %}
                        {{ form(form) }}

                    {% else %}
                        <img src="{{ asset('assets/img/user/avatar/') ~ app.user.image }}" alt="avatar">
                        <div class="infos">
                            <p>Firstname: {{ app.user.firstname }}</p>
                            <p>Lastname: {{ app.user.lastname }}</p>
                            <p>Email: {{ app.user.email }}</p>
                            {% if app.user.lastSuccessfulLogin is null %}
                                <p>Last successfull login: n/a (first time)</p>
                            {% else %}
                                <p>Last successfull login: {{ app.user.lastSuccessfulLogin|date('Y-m-d H:i:s') }}</p>
                            {% endif %}

                            {% if app.user.lastFailedLogin is null %}
                                <p>Last failed login: n/a</p>
                            {% else %}
                                <p>Last failed login: {{ app.user.lastFailedLogin|date('Y-m-d H:i:s') }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% for message in app.flashes('success') %}
                    <div class="alert-success p-3 mb-4">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert-danger p-3 mb-4">{{ message }}</div>
                {% endfor %}
            </div>

        {% endif %}
        <!-- END ROLE_ADMIN NAVIGATION -->
    </div>
{% endblock %}