{% block body %}

    <div>

        {% for message in app.flashes('success') %}
            <div class="alert-success p-3 mb-4">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert-danger p-3 mb-4">{{ message }}</div>
        {% endfor %}

        {% if not app.user.isEmailConfirmed and not is_granted('ROLE_ADMIN')%}
            <p class="text-center badge-warning p-2">Your email has not been confirmed yet.
                Click <a href="{{ path('registration_confirmation_request') }}">here</a> to request a new link to confirm your email address.</p>
        {% endif %}

        <form id="user-update-form" method="post" action="{{ path('user_dashboard_settings') }}" enctype="multipart/form-data">

            <div>
                <div id="form-left">

                    <label for="username">Username</label>
                    <input type="text" value="{{ app.user.username }}" name="username" id="username" class="form-control mt-3 mb-3" placeholder="Username" readonly>

                    <label for="email">Email</label>
                    <input type="text" value="{{ app.user.email }}" name="email" id="email" class="form-control mt-3 mb-3" placeholder="Email" required>

                    <label for="firstname">Firstname</label>
                    <input type="text" value="{{ app.user.firstname }}" name="firstname" id="firstname" class="form-control mt-3 mb-3" placeholder="Firstname" required>

                    <label for="lastname">Lastname</label>
                    <input type="text" value="{{ app.user.lastname }}" name="lastname" id="lastname" class="form-control mt-3 mb-3" placeholder="Lastname" required>

                </div>

                <div id="form-right">

                    <label for="image">Upload a new profile image</label>
                    <input type="file" value="" name="image" id="image" class="form-control-file mt-3 mb-3" placeholder="Current image">

                    <label for="currentPassword">Current Password</label>
                    <input type="password" value="" name="currentPassword" id="currentPassword" class="form-control mt-3 mb-3" placeholder="Current Password" required>

                    <label for="newPassword">New Password</label>
                    <input type="password" value="" name="newPassword" id="newPassword" class="form-control mt-3 mb-3" placeholder="New Password" pattern=".{8,}" title="Eight or more characters">

                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" value="" name="confirmNewPassword" id="confirmNewPassword" class="form-control mt-3 mb-3" placeholder="Confirm New Password">

                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-block btn-primary mt-3 mb-3" type="submit">
                Update my profile
            </button>

        </form>

    </div>
{% endblock %}