{% block body %}

    <div>

        {% for message in app.flashes('success') %}
            <div class="alert-success p-3 mb-4">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert-danger p-3 mb-4">{{ message }}</div>
        {% endfor %}

        <div>
            {% if reviews|length > 0 %}
                <table class="table table-striped my-tables">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center align-middle">Course's Title</th>
                            <th scope="col" class="text-center align-middle">Created At</th>
                            <th scope="col" class="text-center align-middle">Updated At</th>
                            <th scope="col" class="text-center align-middle">Rating</th>
                            <th scope="col" class="text-center align-middle">Review</th>
                            <th scope="col" class="text-center align-middle">Edit</th>
                            <th scope="col" class="text-center align-middle">(un)publish</th>
                            <th scope="col" class="text-center align-middle">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for review in reviews %}
                            <tr>
                                <td class="text-left align-middle">
                                    <a href="{{ path('course_view', {'id': review.course.id}) }}" target="_blank">{{ review.course.title }}</a>
                                </td>
                                <td class="text-center align-middle">{{ review.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-center align-middle">{{ review.updatedAt|date('Y-m-d H:i:s') }}</td>
                                <td class="text-center align-middle">{{ review.rating }}/5</td>
                                <td class="text-left align-middle">{{ review.review }}</td>
                                <td class="text-center align-middle">
                                    <a href="{{ path('user_dashboard_reviews_edit', {uid: app.user.id, cid:review.course.id}) }}">
                                        <i class="fa fa-pen"></i>
                                    </a>
                                </td>
                                <td class="text-center align-middle">
                                    {% if review.isPublished %}
                                        <a href="{{ path('user_dashboard_reviews_publish', {uid: app.user.id, cid:review.course.id}) }}">
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    {% elseif not review.isDeleted %}
                                        <a href="{{ path('user_dashboard_reviews_publish', {uid: app.user.id, cid:review.course.id}) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    {% if not review.isDeleted %}
                                        <a href="{{ path('user_dashboard_reviews_delete', {uid: app.user.id, cid:review.course.id}) }}">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="btn-lg badge-secondary p-4">No review found</p>
            {% endif %}
        </div>

    </div>
{% endblock %}